

  .my-container {
    display: grid;
    grid-template-columns: 1fr; /* Side nav is hidden on mobile */
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100vh;
  }

  .header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--header-bg);
    box-shadow: var(--header-shadow);
    z-index: 10;
  }
  
  .header__menu-open {
    flex: 0 0 var(--menu-open-width);
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    padding: 12px;
    background-color: var(--header-menu-open-bg);
    color: var(--header-menu-open-color);
  }
  
  .header__logo {
    display: flex;
    height: 100%;
    align-items: center;
    flex: 0 0 calc(var(--menu-width) - var(--menu-open-width));
    background-color: var(--header-logo-bg)
  }
  
  .header__link {
    color: var(--header-link-color);
  }
  
  .header__link:hover {
    color: var(--header-link-color-hover);
    text-decoration: none;
  }
  
  .header__toolbar {
    flex: 1;
  }

  .header__search {
        padding: .75rem 1rem;
        border-width: 0;
        border-radius: 0;
        color: #fff;
        background-color: rgba(255, 255, 255, .1);
        border-color: rgba(255, 255, 255, .1);
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: footer;
    background-color: var(--footer-bg);
    color: var(--footer-color);
  }
  
  .footer--hidden {
    visibility: hidden;
  }
  
  .main {
    grid-area: main;
    background-color: var(--main-bg);
    padding: var(--rhythm);
    overflow-x: auto;
  }

  .menu {
    grid-area: menu;
    background-color: var(--menu-bg);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    z-index: 2; /* Needs to sit above the hamburger menu icon */
    transform: translateX(calc( -1 * var(--menu-width)));
    transition: all .6s ease-in-out;
    width: var(--menu-width);
  }

  .menu.active {
    transform: translateX(0);
  }
  
  .menu__body {
    list-style-type: none;
    padding: 0;
  }
  
  .menu__item {
    padding: .5rem 1rem;
    border-bottom: var(--menu-item-separator-color);
  }
  
  .menu__link {
    color: var(--menu-item-link-color);
    font-weight: 500;
    font-size: 14px;
  }
  
  .menu__link:hover {
    text-decoration: none;
    color: var(--menu-item-link-color-hover);
  }
  
  .menu__link .feather {
    margin-right: 4px;
    color: var(--menu-item-icon-color);
  }
  
  .menu__link:hover .feather {
    color: var(--menu-item-icon-color-hover);
  }
  
  .menu__link.menu__link-active {
    color: var(--menu-item-active-link-color)
  }

  .menu__link.menu__link-active:hover {
    color: var(--menu-item-active-link-color-hover)
  }
  
  .menu__link.menu__link-active .feather {
    color: var(--menu-item-active-icon-color);
  }

  .menu__link.menu__link-active:hover .feather {
    color: var(--menu-item-active-icon-color-hover)
  }

  .menu__menu-close {
    position: absolute;
    visibility: visible;
    cursor: pointer;
    font-size: 20px;
    flex: 0 0 50px;
    display: flex;
    top: 0px;
    right: 0px;
    align-items: center;
    justify-content: right;
    border-radius: 10%;
    z-index: 1;
    padding: 12px;
    background-color: transparent;
    color: var(--menu-close-color);
  }

  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

  @media only screen and (min-width: 46.875em) {
    
        .my-container {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: 50px 1fr 50px;
            grid-template-areas: 
              "header header"
              "menu   main"
              "footer footer";
            height: 100vh;
        }
    
        .menu {
            position: static;
            grid-area: menu;
            transform: translateX(0);
            width: var(--menu-width)
        }
    
        .menu.active {
          transform: translateX(calc( -1 * var(--menu-width)));
          width: 0px;
        }

        .menu__menu-close {
          visibility: hidden;
        }
    
    }